{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
<div class="donetask">
    <div class="panel panel-success" hidden="true">
        <div class="panel-heading complete">タスクを完了しました！</div>
        "ここに達成したタスク表示"
        <div class="panel-body"></div>
    </div>
</div>
<div class="donetask"> 
    <div class="panel panel-warning">
        <div class="panel-heading faild">タスクの期限が切れました</div>
        "ここに切れたタスク表示?"
        <div class="panel-body">
            <button id="js-show-popup">確認</button>
        </div>
    </div>
</div>

<!-- <div class="popup" id ="js-popup">
    aaa
    <div class="poupu-inner">
        <div class="close-btn" id="js-close-btn">X</div>
        <img id="chance"src='https://2.bp.blogspot.com/-VnbIXVe2zoc/VlAZcj--mVI/AAAAAAAA06k/sEBRIoI0iGQ/s450/text_chance.png' width=180 height=100>
        <p>宝箱を選んでね！</p>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
    </div>
    <div class="black-background" id="js-black-bg"></div>
</div> -->
<div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn">ｘ</div>
      <a href="#">
        <img id="chance"src='https://2.bp.blogspot.com/-VnbIXVe2zoc/VlAZcj--mVI/AAAAAAAA06k/sEBRIoI0iGQ/s450/text_chance.png' width=180 height=100>
        <p>宝箱を選んでね！</p>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
        <img src='https://3.bp.blogspot.com/-ddxthgZW4kI/V2ub9fWGyTI/AAAAAAAA7to/gTB-dajOTbQWLfgw0Le-qDZ6x-OpezTAQCLcB/s400/kaizoku_takarabako.png' width=200>
    　</a>
    </div>
    <div class="black-background" id="js-black-bg"></div>
  </div>
  <!-- <button id="js-show-popup">Show Popup</button> -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/feedback.js' %}"></script>
{% endblock %}