/* html,
body {
  height: 100%;
} */

 body {
  background-color:rgba(252,252,253,0.76);
} 
.todo{
  color:rgb(172, 45, 20);
  margin:0 auto;
  text-align:center;
}
.sujest{
  color:rgb(2, 0, 136);
  margin:0 auto;
  text-align:center;
}

img{
position:relative;
top:-30px;
display:block;
margin:0 auto;
width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-family:sans-serif;
  
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

footer{
  width:100%;
  background-color: rgb(62, 62, 73);
  float:left;
  list-style: none;
}

li{
color: lavender;
  display:inline-block;
  width:100px;
  height:50px;
  margin:20px 20px;
}
p{
  color: rgb(126, 126, 126);
}